@import "mixins.less";

@calloutBackground: #dfd;
@calloutBorder: #212;
@calloutForeground: #212;
@codeBackground: #eee;
@codeBorder: #222;
@codeForeground: #111;

@tabsetBackground: #dfd;
@tabsetBorder: #404;
@tabsetSelectedBackground: #ddf;

code, pre {
    background-color: @codeBackground;
    color: @codeForeground;
    font-family: "Anonymous Pro", monospace;
}

pre {
    .border-radius(3px);
    border: 1px solid @codeBorder;
    padding: 2px 4px;
    margin: 1em 0;
}

code {
    padding: 2px 4px;
}

pre code {
    display: inline-block;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 5px;
}

.callout {
    background-color: @calloutBackground;
    color: @calloutForeground;
    .border-radius(3px);
    border: 1px solid @calloutBorder;
    padding: 2px 4px;
    margin: 1em 0;
}

.tabset {
    border-color: @tabsetBorder;
    border-bottom-width: 1px;
}

.tabset span {
    border-color: @tabsetBorder;
    border-width: 1px 1px 0 1px;
    padding: 2px 4px 1px 4px;
    background-color: @tabsetBackground;
}

.tabset span.selected {
    background-color: @tabsetSelectedBackground;
    padding-bottom: 2px;
}

.tabpane {
    background-color: @tabsetSelectedBackground;
    padding: 1em;
    border-color: @tabsetBorder;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
}
