[submodule "build"]
	path = build
	url = git@github.com:fidian/rumkin.git
[submodule "api"]
	path = api
	url = git@github.com:fidian/rumkin.git
[submodule "3rd-party/psr-js"]
	path = 3rd-party/psr-js
	url = https://github.com/fidian/psr-js.git
[submodule "3rd-party/futile"]
	path = 3rd-party/futile
	url = https://github.com/fidian/futile.git
