@font-face {
    font-family: "Illuminati";
    src: url(illluminati-dirigens-berlin.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

.illuminati {
    font-family: "Illuminati", sans-serif;
    font-size: 4em;
    line-height: 1em;
}
