@font-face {
    font-family: "Anonymous Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Anonymous Pro"), local("AnonymousPro"), url(fonts/anonymous-pro.ttf) format("truetype");
}
