@font-face {
    font-family: "Anonymous Pro Regular";
    font-display: swap;
    src: local("Anonymous Pro Regular"), local("AnonymousPro-Regular"),
        url(../fonts/anonymous-pro/anonymous-pro_regular.ttf) format("truetype");
}


@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-lightitalic.ttf) format("truetype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-italic.ttf) format("truetype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-mediumitalic.ttf) format("truetype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-bolditalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-light.ttf) format("truetype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-medium.ttf) format("truetype");
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-bold.ttf) format("truetype");
}
