/* Specificity: 0, 0, 0, 0 */
* {
    border: 0 solid #000000;
    margin: 0;
    outline: none;
    padding: 0;
    zoom: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea, keygen, select, button {
    border: 2px inset;
}
