code {
    background-color: #ddd;
}

pre {
    background-color: #ddd;
    padding: 10px;
    overflow: auto;
    max-height: 75vh;
}

li > p:first-child,
li > ul:first-child,
li > ol:first-child,
li > pre:first-child,
li > table:first-child,
li > blockquote:first-child {
    margin-top: 0;
}

hr {
    border: 1px inset black;
}

h1 {
    margin-bottom: 0.6em;
}

h2,
h3,
h4,
h5,
h6,
h7 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}

table,
table tr,
table td,
table th {
    border-collapse: collapse;
}

table th {
    background-color: #347dbe;
}

table th,
table td {
    padding: 4px;
    border: 1px solid #347dbe;
    border-bottom-color: #015cae;
}

table th {
    border-color: #015cae;
    color: white;
}

table tr:nth-child(even) {
    background-color: #c5e0f9;
}

blockquote {
    border-left: 4px solid #347dbe;
    padding-left: 8px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

@media print {
    table th {
        background-color: transparent;
    }

    table th,
    table td {
        padding: 4px;
        border: 1px solid #7a7a7a;
        border-bottom-color: #595959;
    }

    table th {
        border-color: #595959;
        color: black;
    }

    table tr:nth-child(even) {
        background-color: transparent;
    }

    blockquote {
        border-left-color: #777;
    }
}

button, select {
    margin: 0.2em;
    padding: 0.3em;
    border: 1px solid #333;
}

.output {
    margin-top: 1.2em;
    background-color: #ddf;
    padding: 0.3em 0.6em;
}

.output > p:first-child,
.output > ul:first-child,
.output > ol:first-child,
.output > pre:first-child,
.output > table:first-child,
.output > blockquote:first-child,
.output > textarea:first-child {
    margin-top: 0;
}
