<nav
    class="Bgc(barBackground) Bgc(tr)--p Pos(a) Pos(s)--p T(0) Start(0) End(0) Bdbw(1px) Bdc(barBorder) H(50px) C(barText) C(black)--p Px(10px) Z(1)"
>
    <div class="W(100%) D(f) H(100%) Jc(spb) Ai(c) Ov(h)">
        <div class="D(f) Whs(nw) Ai(c) Fxs(1) Ov(h) Pend(12px)">
            {{#ancestry.parent}} {{>breadcrumbs-label target=. flexShrink=0}}
            {{/ancestry.parent}} {{^ancestry.parent}}
            <a
                class="C(barText) C(black)--p Fz(1.4em) Fw(b) Ov(H)"
                href="{{@root.rootPath}}"
                >Rumkin.com</a
            >
            {{/ancestry.parent}}
        </div>
    </div>
</nav>
