<nav class="Bgc(barBackground) T(0) Pos(f) Start(0) End(0) Bdbw(1px) Bdc(barBorder) H(50px) C(barText) Px(10px)--lg Z(1)">
    <div class="Mx(a) Maw(contentWidthMax) D(f) H(100%) Jc(sb)">
        <div class="H(100%) Ai(c) D(f) Fz(1.4em) Fw(b) Whs(nw)">
            <a class="C(barText)" href="{{#root}}#{{/root}}{{^root}}{{rootPath}}{{/root}}">
                <span class="D(n)--xs">{{site.title}}</span>
            </a>
        </div>

        <div class="Ai(c) D(f)">
            <ul>
{{#site.topNavLinks}}
                <li class="D(ib) Mend(15px) D(n)--sm" >
                    <a href="{{^external}}{{../rootPath}}{{/external}}{{href}}" class="C(barText)">{{title}}</a>
                </li>
{{/site.topNavLinks}}

                <li class="D(ib)">
                    <input type="text" id="search-input" placeholder="{{site.searchPlaceholder}}" class="P(0.5em) W(150px) W(200px)--sm H(32px) H(40px)--sm Fz(.9em)--sm">
                </li>
            </ul>
            <ul id="results-container" class="Pos(a) T(50px) List(n) Bgc(searchBackground) End(0) C(searchTextColor) W(250px) Mah(50vh) Ovx(a) End(10px)--lg">
                <li class="js-search-entry">
                    <a class="Px(10px)--xs Py(20px)--xs Py(15px)--sm Py(10px) Px(5px) Lh(1.2) D(b)" href="{url}">{title}</a>
                </li>
                <li class="js-no-results Px(10px)--xs Py(20px)--xs Py(15px)--sm Py(10px) Px(5px) Lh(1.2)">
                    No results match this search.
                </li>
            </ul>
        </div>
    </div>
</nav>
