<label class="Cur(p) Pos(f) D(n) D(b)--xs Z(1) H(30px) W(30px) T(10px) Start(10px) Z(3000) Bgc(white) Bdrs(5px)">
    <img src="{{rootPath}}image/menu.svg" class="H(inh) W(inh)" />
    <input class="navShow D(n)" type="checkbox" />
</label>
<nav class="D(tbc) Va(t) W(25vw) Maw(280px) sidebar showMenu+W(250px)--xs W(0)--xs Bgc(white) Pend(20px) showMenu+Pend(20px)--xs P(0)--xs">
    <ul class="W(inh) Ov(h)">
{{#ancestryByTitle.root.ancestryByTitle.children}}
{{>sidebar-entry currentPage=..}}
{{/ancestryByTitle.root.ancestryByTitle.children}}
    </ul>
</nav>
