<!DOCTYPE html>
<html lang="en"{{#module}} ng-app="{{.}}"{{/module}}>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{rootPath}}css/site.css">
        {{>favicon}}
        <link rel="license" href="{{rootPath}}license">
        {{#liveReload}}
        <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
        {{/liveReload}}
        {{#css}}
        <link rel="stylesheet" href="{{.}}">
        {{/css}}
        {{#js}}
        <script type="text/javascript" src="{{.}}"></script>
        {{/js}}
        {{#routes?}}
        <script type="text/javascript" src="{{rootPath}}js/mithril.min.js"></script>
        <script>
            window.addEventListener('load', function () {
                const root = document.getElementsByClassName('module')[0];
                const routes = [];
{{#routes}}
                routes['{{path}}'] = {{component}};
{{/routes}}
                m.route(root, '/', routes);
            });
        </script>
        {{/routes?}}
    </head>
    <body class="Ovx(h)">
{{>header}}
        <div class="Mt(70px) C(textColorNormal)">
            <div class="Mx(a) W(100%) Maw(contentWidthMax) D(f) Px(10px)--lg Pstart(0)--xs">
{{>sidebar}}
{{! Must not indent this because <code> blocks will have their contents
    indented. That makes the formatting completely messed up. }}
{{>content}}
            </div>
        </div>
    </body>
</html>
