.module {
   height: 350px;
   width: 450px;
   color: yellow;
   background-color: black;
   border-color: maroon;
   border-style: solid;
   overflow: auto;
}

.scoreboard_menu {
   font-size: 1.5em;
   text-align: center;
   width: 99%;
   padding-top: 1px;
}

.scoreboard_link {
   color: yellow;
   font-weight: bold;
   text-decoration: none;
   padding-left: 5px;
   padding-right: 5px;
   border: 1px solid yellow;
}

.scoreboard_active {
   color: black;
   background-color: yellow;
   font-weight: bold;
   text-decoration: none;
   padding-left: 5px;
   padding-right: 5px;
   border: 1px solid yellow;
}

.scoreboard_content {
   width: 99%;
}

.scoreboard_content ol {
   padding: 0 0 0 40px;
   margin: 1em 0 0 5px;
}

.scoreboard_content ul {
   padding: 0 0 0 20px;
   margin: 1em 0 0 5px;
}

ol.scoreboard_top10 {
   font-size: 1.65em;
   font-family: "Courier New", courier;
   font-weight: bold;
   padding-left: 3em;
}
