<!DOCTYPE HTML>
<html language="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0; url=.." />
        <script type="text/javascript">
            window.location.href = "..";
        </script>
        <title>Page Redirect</title>
    </head>
    <body>
        You are being redirected up to a <a href="..">parent of this page</a>.
    </body>
</html>
